

h1{
    font-family: "DynaPuff", system-ui;
    background-color: rgb(255, 171, 103);
    color:rgb(159, 248, 57);
}


body{
   height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, rgb(255, 117, 255) 17%, rgb(250, 149, 216) 36%, rgb(214, 165, 92) 69%, rgb(238, 235, 86) 100%);
  background-size: 500%;
  animation: fondo 5s infinite
  }
#imagenes-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  
  img{
    transition:transform 0.5s ease-in-out; 
  width: 150px;
  height: auto;
  }
  img:hover{
    transform:translatey(-50px);
  }
  
  
  #imagenes-container .image{
    position: relative;
    margin-right: -20px;
    display: inline-plex;
    flex-direction: column;
  }

  @keyframes fondo{
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
     100%{
       background-position: 0% 50%;
     }
  }
 